<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<p>
<nav th:replace="fragments :: navigation"></nav>
</p>

<table>

    <tr>
        <th>Cheese</th> <th>CheeseDescription</th>
    </tr>

        <form method="post">
            <tr>
            <td><input type="text" name="cheeseName" /></td>
            <td><input type="text" name="cheeseDescription" /></td>
            <td><input type="submit" value="Add Cheese" /></td>
            </tr>
        </form>
</table>





</body>
</html>