<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<p>
<nav th:replace="fragments :: navigation"></nav>
</p>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

<table>

    <tr>
    <th>Cheese</th> <th>:</th> <th>CheeseDescription</th>
    </tr>

    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.key}">Key</td> <td>:</td> <td th:text="${cheese.value}">Value</td>
    </tr>

</table>

</body>

</html>